doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href='css/all.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap', rel='stylesheet')
        title NightProwl

    body
        include ../header/header
        block body
        include ../footer/footer
