@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?uo3avc');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?uo3avc#iefix') format('embedded-opentype'),
  url('@{icomoon-font-path}/@{icomoon-font-family}.woff2?uo3avc') format('woff2'),
  url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?uo3avc') format('truetype'),
  url('@{icomoon-font-path}/@{icomoon-font-family}.woff?uo3avc') format('woff'),
  url('@{icomoon-font-path}/@{icomoon-font-family}.svg?uo3avc#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter {
  &:before {
    content: @icon-twitter;
  }
}
.icon-whatsapp {
  &:before {
    content: @icon-whatsapp;
  }
}
.icon-webcam {
  &:before {
    content: @icon-webcam;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-play {
  &:before {
    content: @icon-play;
  }
}
.icon-pin {
  &:before {
    content: @icon-pin;
  }
}
.icon-phone {
  &:before {
    content: @icon-phone;
  }
}
.icon-logo {
  &:before {
    content: @icon-logo;
  }
}
.icon-money-bag {
  &:before {
    content: @icon-money-bag;
  }
}
.icon-board {
  &:before {
    content: @icon-board;
  }
}
.icon-letter {
  &:before {
    content: @icon-letter;
  }
}
.icon-internet {
  &:before {
    content: @icon-internet;
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook;
  }
}
.icon-agree {
  &:before {
    content: @icon-agree;
  }
}
.icon-check {
  &:before {
    content: @icon-check;
  }
}
.icon-calendar {
  &:before {
    content: @icon-calendar;
  }
}
.icon-arrow-right {
  &:before {
    content: @icon-arrow-right;
  }
}
.icon-arrow-left {
  &:before {
    content: @icon-arrow-left;
  }
}

