.ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-format(@family, @size, @height, @color:inherit, @weight:normal, @style:normal, @transform:none, @spacing:0) {
  font: @style @weight @size/@height @family;
  color: @color;
  text-transform: @transform;
  letter-spacing: @spacing;
}

.position(@type, @top: auto, @right: auto, @bottom: auto, @left: auto, @index: initial) {
  position: @type;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
  z-index: @index;
}

.flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear() {
  &:before,
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
