@min-hd: 1200px;
@max-desktop: 1199px;
@min-desktop: 992px;
@max-tablet: 991px;
@min-tablet: 768px;
@max-mobile: 767px;

@yellow: yellow;


@icomoon-font-family: "icon";
@icomoon-font-path: "fonts";

@icon-twitter: "\e900";
@icon-whatsapp: "\e901";
@icon-webcam: "\e902";
@icon-search: "\e903";
@icon-play: "\e904";
@icon-pin: "\e905";
@icon-phone: "\e906";
@icon-logo: "\e907";
@icon-money-bag: "\e908";
@icon-board: "\e909";
@icon-letter: "\e90a";
@icon-internet: "\e90b";
@icon-facebook: "\e90c";
@icon-agree: "\e90d";
@icon-check: "\e90e";
@icon-calendar: "\e90f";
@icon-arrow-right: "\e910";
@icon-arrow-left: "\e911";

